.govuk-list > li.app-list-spacer {
    padding-bottom: 30px;
    border-bottom: 1px solid #b1b4b6;
    margin-bottom: 30px;
}

.helper-details {
    margin-top: 20px;
}


@media (min-width: 40.0625em) {
    .govuk-main-wrapper {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .helper-details {
        margin-top: 30px;
    }
}
