.govuk-list > li.app-list-spacer {
    padding-bottom: 30px;
    border-bottom: 1px solid #b1b4b6;
    margin-bottom: 30px;
}

.helper-details {
    margin-top: 20px;
}

.aodp-timeline {
    font-family: Helvetica, Arial, sans-serif;
}

.aodp-timeline__items {
    padding: 0;
    list-style-type: none;
    border-left: 3px solid #1d70b8;
}

.aodp-timeline__item {
    position: relative;
    top: -8px;
    margin: 15px 0;
    padding: 0 0 0 18px;
}

.aodp-timeline__item::before {
    content: "";
    position: absolute;
    top: 8px;
    left: -1px;
    width: 11px;
    border-top: 3px solid #1d70b8;
}

.govuk-textarea {
    /* 75% the max width of .govuk-width-container  */
    max-width: 720px;
}


@media (min-width: 40.0625em) {
    .govuk-main-wrapper {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .helper-details {
        margin-top: 30px;
    }
}

/* Timeline */
.app-timeline {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    font-family: GDS Transport, arial, sans-serif;
}

    .app-timeline::before {
        content: "";
        position: absolute;
        top: 10px;
        left: 0;
        width: 5px;
        height: 100%;
        background-color: #005ea5;
    }

.app-timeline--full {
    margin-bottom: 0;
}

    .app-timeline--full::before {
        height: calc(100% - 75px);
    }

.app-timeline__item {
    position: relative;
    padding-left: 20px;
}

    .app-timeline__item::before {
        content: "";
        position: absolute;
        top: 10px;
        left: 0;
        width: 15px;
        height: 5px;
        background-color: #005ea5;
    }

.app-timeline__title {
    font-size: 19px;
    font-weight: bold;
    display: inline;
}

.app-timeline__byline {
    font-size: 19px;
    display: inline;
    margin: 0;
    color: #6f777b;
}

.app-timeline__details {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 0;
    color: #6f777b;
}

.app-timeline__description {
    font-size: 19px;
    margin-top: 20px;
    margin-bottom: 0;
}

/*Interruption card*/
.app-interruption-card {
    background-color: #1d70b8;
    color: #ffffff;
    padding: 24px;
    margin-bottom: 30px;
}

.app-interruption-card__content {
    max-width: 40rem;
}

.app-interruption-card__heading {
    margin: 0 0 16px 0;
    font-size: 1.5rem;
    font-weight: 700;
}

.app-interruption-card__body {
    margin-bottom: 24px;
    font-size: 1.125rem;
}

.app-interruption-card__actions {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.app-interruption-card .govuk-button--inverse {
    background-color: #ffffff;
    color: #1d70b8;
    box-shadow: 0 2px 0 #003078;
}

    .app-interruption-card .govuk-button--inverse:hover {
        background-color: #f3f2f1;
        color: #1d70b8;
    }

    .app-interruption-card .govuk-button--inverse:focus-visible,
    .app-interruption-card .govuk-button--inverse:focus {
        outline: 3px solid #ffdd00;
        outline-offset: 0;
    }

.app-interruption-card .govuk-link--inverse {
    color: #ffffff;
}

    .app-interruption-card .govuk-link--inverse:visited {
        color: #f3f2f1;
    }

    .app-interruption-card .govuk-link--inverse:hover {
        color: #ffffff;
        text-decoration-thickness: 3px;
    }

