@using static SFA.DAS.AODP.Web.Models.Question.EditQuestionViewModel
@model RadioOptions

<h2 class="govuk-heading-m">Options</h2>

<govuk-fieldset>
    <govuk-fieldset-legend>Add options</govuk-fieldset-legend>
    <ul class="govuk-list">
        @for (int i = 0; i < Model.MultiChoice.Count; i++)
        {
            <li class="app-select-options__list-item" style="display: flex; align-items: flex-end;">

                <div class="govuk-form-group">
                    <label class="govuk-label"
                           for="RadioButton[MultiChoice][@i]">Option @(i + 1)</label>

                    <input type="text"
                           name="RadioButton[MultiChoice][@i]"
                           class="govuk-input govuk-input--width-20"
                           value="@Model.MultiChoice[i]" />
                </div>

                <button type="submit"
                        class="govuk-button govuk-button--warning"
                        data-module="govuk-button"
                        data-prevent-double-click="true"
                        value="@i"
                        name="RadioButton[AdditionalFormActions][RemoveOption]">
                    Remove
                    <span class="govuk-visually-hidden">option @(i + 1)</span>
                </button>
            </li>
        }
    </ul>

    <button type="submit"  class="govuk-button govuk-button--secondary" data-module="govuk-button"
            data-prevent-double-click="true" name="RadioButton[AdditionalFormActions][AddOption]" value="true" data-govuk-button-init="">
        Add another option
    </button>
</govuk-fieldset>


<style>
    #pages-question-input-is-optional-true-hint {
        padding: 0 !important;
    }
</style>