@using static SFA.DAS.AODP.Web.Models.Question.EditQuestionViewModel
@model TextInputOptions

<div class="govuk-form-group">
    <govuk-input type="number" asp-for="MinLength" input-class="govuk-input--width-3" inputmode="numeric" pattern="[0-9]*" spellcheck="false">
        <govuk-input-label is-page-heading="false" class="govuk-label--s">What is the minimum input length? (Optional)</govuk-input-label>
    </govuk-input>
</div>

<div class="govuk-form-group">
    <govuk-input type="number" asp-for="MaxLength" input-class="govuk-input--width-3" inputmode="numeric" pattern="[0-9]*" spellcheck="false">
        <govuk-input-label is-page-heading="false" class="govuk-label--s">What is the maximum input length? (Optional)</govuk-input-label>
    </govuk-input>
</div>
<style>
    #pages-question-input-is-optional-true-hint {
        padding: 0 !important;
    }
</style>