@model SFA.DAS.AODP.Web.Models.BulkActions.SelectAllQualificationsViewModel

@{
    var controller = Model.Controller ?? (string)ViewContext.RouteData.Values["controller"]!;
    var action = Model.Action ?? "Index";
    var area = Model.Area ?? "Review";
    var anchorId = Model.AnchorId ?? "bulk-action-select-all";

    var url = Url.Action(action, controller, new
    {
        area,
        pageNumber = Model.CurrentPage,
        recordsPerPage = Model.RecordsPerPage,
        name = Model.Name,
        organisation = Model.Organisation,
        qan = Model.Qan,
        processStatusIds = Model.ProcessStatusIds,
        selectAll = true,
        reloadId = Guid.NewGuid().ToString("N")
    }) + $"#{anchorId}";
}

<div id="@anchorId" class="govuk-button-group">
    <a class="govuk-button govuk-button--secondary" href="@url">
        Select all on this page
    </a>
</div>