@using SFA.DAS.AODP.Web.Models.Application

@{
    ViewData["Title"] = "Application withdrawn";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-grid-row">
            <div class="govuk-panel--confirmation govuk-panel">
                <h1 class="govuk-panel__title">Application withdrawn</h1>
            </div>

            <h2 class="govuk-heading-m">
                What you can do next
            </h2>

            <p class="govuk-body">
                <a class="govuk-link"
                   asp-action="Index"
                   asp-controller="Applications">
                    Manage funding applications
                </a>
            </p>
        </div>
    </div>
</div>