@using System.Security.Claims
@{
	ViewData["Title"] = "Not Authorised";
}

<div class="govuk-width-container">
	<main class="govuk-main-wrapper">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
				<div class="govuk-grid-row">
					<h1 class="govuk-heading-1">Not Authorised</h1>
				</div>
				You do not have access to this area . Your roles are

				@if (User.Identity.IsAuthenticated)
				{
					<table>
						@foreach (var item in ((ClaimsIdentity)User.Identity).Claims.Where(i => i.Type == "rolecode"))
						{
							<tr>
							<tr class="govuk-table__header">
								<th>Value</th>
							</tr>
							<td class="govuk-table__cell">@item.Value</td>
							</tr>
						}
					</table>
				}
			</div>
		</div>
	</main>
</div>
				
