@{
    ViewData["Title"] = "Home Page";
}

<govuk-notification-banner type="Success" class="govuk-!-margin-1">
    <p class="govuk-notification-banner__heading">
        You have launched the app
    </p>
</govuk-notification-banner>