@{
	ViewData["Title"] = "Questions";
}

<div class="govuk-width-container">
	<main class="govuk-main-wrapper">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds govuk-!-margin-top-6" id="guide-contents">

				<div class="gem-c-heading govuk-!-margin-bottom-6">

					<h1 class="gem-c-heading__text govuk-heading-l">
						Questions
					</h1>
				</div>
			</div>
		</div>
	</main>
</div>