@model CreateSectionViewModel

<partial name="~/Views/Shared/_NotificationPartial.cshtml" />

@{
    ViewData["Title"] = "Create Section";
}

<a class="govuk-back-link" asp-action="Edit" asp-controller="Forms" asp-route-formVersionId="@Model.FormVersionId">
    Back to Form
</a>

<h1 class="govuk-heading-l">Create Section</h1>

<form asp-action="Create" method="post">
    <input type="hidden" name="FormVersionId" value="@Model.FormVersionId" />
    <div class="govuk-form-group">
        <govuk-input asp-for="@Model.Title" inputmode="text" pattern="[0-9]*" spellcheck="false" autocomplete="off">
            <govuk-input-label is-page-heading="false" class="govuk-label--s">Name</govuk-input-label>
        </govuk-input>
    </div>
    <div class="govuk-button-group">
        <govuk-button type="submit">Save</govuk-button>
        <a class="govuk-button govuk-button--secondary"
           asp-action="Edit"
           asp-controller="Forms"
           asp-route-formVersionId="@Model.FormVersionId">
            Cancel
        </a>
    </div>
</form>
