@using SFA.DAS.AODP.Models.Application
@using SFA.DAS.AODP.Web.Areas.Review.Models.ApplicationsReview
@model ApplicationReadOnlyDetailsViewModel;

@{
    ViewData["Title"] = "Application Read Only Details";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-grid-row">
            <h1 class="govuk-heading-xl">
                Application Read Only Details
                <span class="govuk-caption-l">  Application Read Only Details</span>
            </h1>
        </div>

    </div>
</div>