@using SFA.DAS.AODP.Web.Models.Import
@model ImportViewModel

@using System.Security.Claims
@{
	ViewData["Title"] = "Import Data";
}

<div class="govuk-width-container">
	<main class="govuk-main-wrapper">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">

                <govuk-breadcrumbs collapse-on-mobile="true">
                    <govuk-breadcrumbs-item asp-controller="Import" asp-action="Index">Home</govuk-breadcrumbs-item>
                    <govuk-breadcrumbs-item href="#" link-target="_blank">Import qualification details</govuk-breadcrumbs-item>
                </govuk-breadcrumbs>

                <h1 class="govuk-heading-1">Qualifications you need to import</h1>

                <form asp-controller="Import" asp-action="SelectImport" method="post">

                     @Html.AntiForgeryToken()

                    <div class="govuk-form-group">
                        <govuk-radios asp-for="Required">
                            <govuk-radios-fieldset>
                                <govuk-radios-fieldset-legend is-page-heading="false" class="govuk-fieldset__legend--s"></govuk-radios-fieldset-legend>
                                <govuk-radios-hint>
                                    Select one option
                                </govuk-radios-hint>

                                 @Html.RenderPartialAsync("Validation/_RadioValidationPartial", nameof(Model.Required))

                                <govuk-radios-item value="false">
                                    Regulated Qualifications
                                    <govuk-radios-hint class="govuk-hint govuk-radios__hint govuk-!-static-padding-0" id="pages-question-input-is-optional-true-hint">
                                        This includes qualifications with changes from Ofqual
                                    </govuk-radios-hint>
                                </govuk-radios-item>
                                <govuk-radios-item value="false">
                                    Funded Qualifications
                                    <govuk-radios-hint class="govuk-hint govuk-radios__hint govuk-!-static-padding-0" id="pages-question-input-is-optional-true-hint">
                                        This includes both currently approved and archived qualifications
                                    </govuk-radios-hint>
                                </govuk-radios-item>

                            </govuk-radios-fieldset>
                        </govuk-radios>
                    </div>

                    <govuk-button type="submit">Continue</govuk-button>
@*                     <govuk-button class="govuk-button--secondary">Cancel</govuk-button>
 *@
                </form>

			</div>
		</div>
	</main>
</div>