<details class="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            Help with Markdown
        </span>
    </summary>
    <div class="govuk-details__text">
        This field support markdown, allowing for links, bold text, headings, and lists to be shown: 
        <ul>
            <li>
                Links
                <div class="govuk-inset-text">
                    <p>[link text](link URL)</p>
                    <p>[gov.uk home](https://gov.uk)</p>
                </div>
            </li>
            <li>
                Bold text
                <div class="govuk-inset-text">
                    __bold text__
                </div>
            </li>
            <li>
                Unordered list:
                <div class="govuk-inset-text">
                    <p>- First item</p>
                    <p>- Second item</p>
                    <p>- Third item</p>
                </div>
            </li>
            <li>
                Ordered list:
                <div class="govuk-inset-text">
                    <p>1. First item</p>
                    <p>2. Second item</p>
                    <p>3. Third item</p>
                </div>
            </li>
        </ul>
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-visually-hidden">Warning</span>
                Do not use headings - these do not comply with GDS Design style. 
            </strong>
        </div>
    </div>
</details>
