<div class="govuk-width-container cookie-settings-container">
    <h1 class="govuk-heading-l">Cookies on our site</h1>
    <div class="govuk-notification-banner success-container" style="display:none;">
        <div class="govuk-notification-banner__content">
            <h2 class="govuk-notification-banner__heading">✓ Success</h2>
            <p>Your cookie settings were saved</p>
            <a href="javascript:history.back()" class="govuk-link back-link">Go back to the page you were looking at</a>
        </div>
    </div>
    <p class="govuk-body">Cookies are files saved on your phone, tablet, or computer when you visit a website.</p>
    <p class="govuk-body">We use cookies to make Skills for Careers work and collect information about how you use our website.</p>
    <h2 class="govuk-heading-m">How we use cookies</h2>
    <p class="govuk-body">We use analytics, feature, and session cookies when you visit the Skills for Careers website.</p>
    <h3 class="govuk-heading-s">Third party cookies</h3>
    <p class="govuk-body">Some cookies may be placed on your computer by third-party partners who work with us.</p>
    <h3 class="govuk-heading-s">Change your settings</h3>
    <p class="govuk-body">You can change your cookie preferences for this website at any time from the cookie settings page.</p>
    <h3 class="govuk-heading-s">Cookie list</h3>
    <p class="govuk-body">We use 2 types of cookies. You can choose which cookies you’re happy for us to use.</p>
    <h3 class="govuk-heading-s">Cookies that measure website use</h3>
    <p class="govuk-body">We use Google Analytics software to collect information about how you use the Skills for Careers website.</p>
    <table class="govuk-table">
        <thead>
            <tr>
                <th class="govuk-table__header">Name</th>
                <th class="govuk-table__header">Purpose</th>
                <th class="govuk-table__header">Expires</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="govuk-table__cell">_ga</td>
                <td class="govuk-table__cell">Counts how many people visit our website</td>
                <td class="govuk-table__cell">2 years</td>
            </tr>
            <tr>
                <td class="govuk-table__cell">_gid</td>
                <td class="govuk-table__cell">Helps track how visitors use the website</td>
                <td class="govuk-table__cell">1 day</td>
            </tr>
        </tbody>
    </table>
    <h3 class="govuk-heading-s">Strictly necessary cookies</h3>
    <table class="govuk-table">
        <thead>
            <tr>
                <th class="govuk-table__header">Name</th>
                <th class="govuk-table__header">Purpose</th>
                <th class="govuk-table__header">Expires</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="govuk-table__cell">session_id</td>
                <td class="govuk-table__cell">Maintains session state</td>
                <td class="govuk-table__cell">End of session</td>
            </tr>
        </tbody>
    </table>
    <h3 class="govuk-heading-m cookie-header">Change your cookie settings</h3>
    <form class="cookie-form">
        <div class="cookie-group">
            <label class="cookie-label">Do you want to accept analytics cookies?</label>
            <div class="cookie-options">
                <input type="radio" name="analytics" value="yes" id="analytics-yes">
                <label for="analytics-yes">Yes</label>
                <input type="radio" name="analytics" value="no" id="analytics-no">
                <label for="analytics-no">No</label>
            </div>
        </div>
        <div class="cookie-group">
            <label class="cookie-label">Do you want to accept marketing cookies?</label>
            <div class="cookie-options">
                <input type="radio" name="marketing" value="yes" id="marketing-yes">
                <label for="marketing-yes">Yes</label>
                <input type="radio" name="marketing" value="no" id="marketing-no">
                <label for="marketing-no">No</label>
            </div>
        </div>
        <button class="govuk-button btn-save cookie-div-button">Save cookie settings</button>
    </form>
</div>