@model DeleteFormViewModel

<a class="govuk-back-link" asp-action="Index" asp-controller="Forms">
    Back to Forms
</a>

<partial name="~/Views/Shared/_NotificationPartial.cshtml" />

<h1 class="govuk-heading-l">Delete Form?</h1>

<form asp-action="Delete" method="post">
    @Html.HiddenFor(m => m.FormId)
    @Html.HiddenFor(m => m.FormVersionId)
    <govuk-warning-text icon-fallback-text="Warning">
        Are you sure you want to delete the form?
        <br/>
        The AOs will not be able to start a new application with this form. However, any existing applications will not be affected.
    </govuk-warning-text>


    <p class="govuk-body">
        Title: @Model.Title
    </p>

    <div class="govuk-button-group">
        <button class="govuk-button govuk-button--warning" type="submit">Delete</button>
        <a class="govuk-button govuk-button--secondary"
           asp-action="Index"
           asp-controller="Forms">
            Cancel
        </a>
    </div>
</form>