@using SFA.DAS.AODP.Web.Models.Application;
@using SFA.DAS.AODP.Web.Models.TimelineComponents
@model ApplicationMessagesViewModel

@{
    ViewData["Title"] = "Application Messages";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <govuk-back-link class="govuk-link govuk-task-list__link"
                         asp-action="ViewApplicationDetails"
                         asp-controller="Applications">Back</govuk-back-link>

        <partial name="~/Views/Shared/_NotificationPartial.cshtml" />

        <h1 class="govuk-heading-l govuk-!-margin-bottom-2">Application messages</h1>


        <!-- Message Box and Message Send  -->

        <!-- Application Event Timeline  -->
        @{
            var timelineModel = new TimelineViewModel
            {
                Items = Model.Messages
            };

            <div>
                @await Html.PartialAsync("_TimelinePartial", timelineModel)
            </div>
        }


    </div>
</div>