@model DeleteFormViewModel

<h1 class="govuk-heading-l">Delete Form?</h1>

<form asp-action="Delete" method="post">
    @Html.HiddenFor(m => m.FormId);
    <govuk-warning-text icon-fallback-text="Warning">
        Are you sure you want to delete the form "@Model.Title"?
    </govuk-warning-text>

    <div class="govuk-button-group">
        <button class="govuk-button govuk-button--warning" type="submit">Delete</button>
        <a class="govuk-button govuk-button--secondary"
           asp-action="Index"
           asp-controller="Forms">
            Cancel
        </a>
    </div>
</form>