@model GetFormVersionByIdQueryResponse.FormVersion

<h1 class="govuk-heading-l">Delete Form?</h1>

<form asp-action="Delete" method="post">
    <input type="hidden" id="formVersionId" name="formVersionId" value="@Model.Id" />
    <govuk-warning-text icon-fallback-text="Warning">
        Are you sure you want to delete the form "@Model.Name"?
    </govuk-warning-text>

    <button class="govuk-button govuk-button--warning" type="submit">Delete</button>

    <a class="govuk-button govuk-button--secondary" asp-action="Index" asp-controller="Forms">Cancel</a>
</form>