@model FormVersionListViewModel

<h1 class="govuk-heading-l">View Forms</h1>

<a class="govuk-button" asp-action="Create" asp-controller="Forms">Create New Form</a>
<table class="govuk-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Status</th>
            <th scope="col" class="govuk-table__header">Options</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        @foreach (var item in Model.FormVersions.OrderBy(o => o.Order))
        {
            <tr class="govuk-table__row">
                <td>@item.Title</td>
                <td>@item.Status</td>
                <td>
                    @if (item.PublishedVersionId.HasValue)
                    {
                        <a class="govuk-button" asp-action="Edit" asp-controller="Forms" asp-route-formVersionId="@item.PublishedVersionId">View Published Version</a>

                    }

                    @if (item.DraftVersionId.HasValue)
                    {

                        <a class="govuk-button" asp-action="Edit" asp-controller="Forms" asp-route-formVersionId="@item.DraftVersionId">View Draft Version</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>