@using SFA.DAS.AODP.Web.Models.Routing
@model ListRoutesViewModel


<h1 class="govuk-heading-l">Routes</h1>

<h2 class="govuk-heading-m">Section 1</h2>
<h3 class="govuk-heading-s">Page 1</h3>
<govuk-summary-card>
    <govuk-summary-card-title>Routes for Question 1: Question Title</govuk-summary-card-title>
    <govuk-summary-card-actions>
        <govuk-summary-card-action>
            <a class="govuk-link">Edit</a>

        </govuk-summary-card-action>
    </govuk-summary-card-actions>
    <govuk-summary-list>
        <govuk-summary-list-row>
            <govuk-summary-list-row-key>
                If the answer is Option abc
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                <ul class="govuk-list">
                    <li>The next page is: <strong>3. Page Title</strong></li>
                    <li>The next section is: <strong>3. Section Title</strong></li>
                </ul>
            </govuk-summary-list-row-value>
        </govuk-summary-list-row>
    </govuk-summary-list>
</govuk-summary-card>



