@using SFA.DAS.AODP.Web.Models.Application
@model ListAvailableFormsViewModel

@{
    ViewData["Title"] = "Available forms";
}


<h1 class="govuk-heading-l">Available forms</h1>

@foreach (var form in Model.Forms.OrderBy(o => o.Order))
{
    <h2 class="govuk-heading-m">@form.Title</h2>

    <div>
        @form.Description
    </div>

    <a class="govuk-button govuk-button--secondary" asp-action="Create" asp-controller="Applications" asp-route-organisationId="@Model.OrganisationId" asp-route-formVersionId="@Guid.NewGuid().ToString()">Start application</a>
}

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
