@model GetPageByIdQueryResponse.Page

<h1 class="govuk-heading-l">Delete Page?</h1>

<form asp-action="Delete" method="post">
    <input type="hidden" id="pageId" name="pageId" value="@Model.Id" />
    <input type="hidden" id="sectionId" name="sectionId" value="@Model.SectionId" />
    <govuk-warning-text icon-fallback-text="Warning">
        Are you sure you want to delete the page "@Model.Title"?
    </govuk-warning-text>

    <govuk-button class="govuk-button--warning" type="submit">Delete</govuk-button>
@*     <a class="govuk-button govuk-button--secondary" href="@Url.Action("Edit", "Section", new { sectionId = Model.SectionId, formVersionId = Model })">Cancel</a> *@
</form>