@using SFA.DAS.AODP.Web.Areas.Review.Controllers
@using SFA.DAS.AODP.Web.Views.Shared
@model SFA.DAS.AODP.Web.Areas.Review.Models.Rollover.CheckYourAnswersViewModel
@{
    ViewData["Title"] = "Check your answers";
    var backLinkModel = new BackLinkModel
    {
        Action = "SelectAwardingOrganisations",
        Controller = nameof(RolloverController),
        Area = "Review"
    };

    ViewBag.BackLinkModel = backLinkModel;
}

<h1 class="govuk-heading-l">@ViewData["Title"]</h1>