@using SFA.DAS.AODP.Web.Areas.Review.Controllers
@using SFA.DAS.AODP.Web.Views.Shared
@{
    ViewData["Title"] = "Enter dates to be used in calculating eligibility for rollover";

    var backLinkModel = new BackLinkModel
    {
        Action = nameof(RolloverController.FundingStreamInclusionExclusion),
        Controller = "Rollover",
        Area = "Review"
    };
}

@await Html.PartialAsync("_BackLinkPartial", backLinkModel)

<partial name="~/Views/Shared/_NotificationPartial.cshtml" />

<h1 class="govuk-heading-xl">@ViewData["Title"]</h1>

<p class="govuk-body">Content to be implemented (Award-1037).</p>
