@{
    ViewData["Title"] = "Enter dates to be used in calculating eligibility for rollover";
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds" id="guide-contents">
                <a asp-area="Review" asp-controller="Rollover" asp-action="FundingStreamInclusionExclusion" class="govuk-link">&lt; Back</a>
                <h1 class="govuk-heading-xl">@ViewData["Title"]</h1>

                <p class="govuk-body">Content to be implemented (Award-1037).</p>
            </div>
        </div>
    </main>
</div>