@{
    ViewData["Title"] = "Import Candidates List";
}

<a class="govuk-back-link" asp-area="Review" asp-action="SelectCandidates" asp-controller="Rollover" asp-area="Review">Back</a>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds" id="guide-contents">

                <h1 class="govuk-heading-xl">@ViewData["Title"]</h1>

                <p class="govuk-body">Content to be implemented (Award-1028).</p>
            </div>
        </div>
    </main>
</div>