@model SFA.DAS.AODP.Web.Areas.Review.Models.Rollover.RolloverIncludeHoldListViewModel
@{
    ViewData["Title"] = "Do you want to include the Hold List?";
}

<partial name="~/Views/Shared/_NotificationPartial.cshtml" />

<a class="govuk-back-link" asp-action="PreviousFile" asp-controller="Rollover" asp-area="Review">Back</a>

<h1 class="govuk-heading-xl">Do you want to include the hold list?</h1>

<form asp-action="IncludeHoldList" asp-controller="Rollover" asp-area="Review" method="post">
    @Html.AntiForgeryToken()

    <div class="govuk-form-group govuk-!-margin-top-6">
        <govuk-radios asp-for="SelectedOption">
            <govuk-radios-fieldset>
                <govuk-radios-fieldset-legend is-page-heading="false" class="govuk-fieldset__legend--s"></govuk-radios-fieldset-legend>

                @Html.RenderPartialAsync("Validation/_RadioValidationPartial", nameof(Model.SelectedOption))

                <govuk-radios-item value="Yes">Yes</govuk-radios-item>
                <govuk-radios-item value="No">No</govuk-radios-item>
            </govuk-radios-fieldset>
        </govuk-radios>
    </div>

    <div class="govuk-form-group">
        <govuk-button type="submit">Continue</govuk-button>
    </div>
</form>