@{
    ViewData["Title"] = "How do you want to select candidates for rollover";
}

<a class="govuk-back-link" asp-action=@ViewData["ReturnAction"] asp-controller="Rollover" asp-area="Review">Back</a>

<h1 class="govuk-heading-xl">@ViewData["Title"]</h1>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds" id="guide-contents">

                <p class="govuk-body">Content to be implemented (Award-1105).</p>
            </div>
        </div>
    </main>
</div>