@{
    ViewData["Title"] = "Upload qualifications to RollOver";
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds" id="guide-contents">
                <a asp-area="Review" asp-controller="Rollover" asp-action="Index" class="govuk-link">&lt; Back</a>
                <h1 class="govuk-heading-xl">@ViewData["Title"]</h1>

                <p class="govuk-body">This page is the entry point for process 2 (Submit Final Funding Extension List). Content to be implemented (Award-1041).</p>
            </div>
        </div>
    </main>
</div>