@using SFA.DAS.AODP.Web.Areas.Review.Controllers
@using SFA.DAS.AODP.Web.Extensions
@using SFA.DAS.AODP.Web.Views.Shared
@model SFA.DAS.AODP.Web.Areas.Review.Models.Rollover.UploadBespokeQualificationCandidatesViewModel

@{
    ViewData["Title"] = "Import a list of candidates for rollover";

    var backLinkModel = new BackLinkModel
    {
        Action = nameof(RolloverController.UploadBespokeQualificationCandidates),
        Controller = "Rollover",
        Area = "Review"
    };


    var fileHasError = ViewData.ModelState.TryGetValue(nameof(Model.File), out var fileState)
                           && fileState.Errors.Count > 0;
    var fileErrorMessage = fileHasError ? fileState.Errors.First().ErrorMessage : null;
}

@await Html.PartialAsync("_BackLinkPartial", backLinkModel)

<partial name="~/Views/Shared/_NotificationPartial.cshtml" />


@if (fileHasError)
{
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
                @foreach (var err in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <li><a href="#fileUpload">@fileErrorMessage</a></li>
                }
            </ul>
        </div>
    </div>
}


<h1 class="govuk-heading-l">@ViewData["Title"]</h1>

<h2 class="govuk-body">Import file</h2>

<p class="govuk-hint">
    This must be a correctly formatted CSV file which includes: QAN, level, type,
    SSA and AO. Data within the table cannot include any commas or special characters.
</p>

<p class="govuk-hint">
    Do not close this window, navigate away or refresh the page until it’s done.
</p>

<form asp-area="Review" asp-controller="Rollover" asp-action="UploadBespokeQualificationCandidates" method="post" enctype="multipart/form-data">

    @Html.AntiForgeryToken()

    @if (fileHasError)
    {
        <span class="govuk-error-message" id="File-error">
            <span class="govuk-visually-hidden">Error:</span> @fileErrorMessage
        </span>
    }

    <div class="govuk-form-group">
        <input asp-for="File" id="fileUpload"
               type="file"
               class="govuk-file-upload"
               accept=".csv,text/csv"
               required />
    </div>

    <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
    </button>

</form>