@using System.Security.Claims
@using SFA.DAS.AODP.Authentication.Constants
@{
	ViewData["Title"] = "Apply Dashboard";
}

<div class="govuk-width-container">
	<main class="govuk-main-wrapper">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
				<div class="govuk-grid-row">
					<h1 class="govuk-heading-1">Dashboard</h1>
				</div>
				<div class="govuk-grid-row">
					<h2 class="govuk-heading-2">You are an a Apply (AO) User <h2>
				</div>

				<div class="govuk-grid-row">a
					<h3 class="govuk-heading-3">Your assigned organisation is :@User.Claims.FirstOrDefault(c => c.Type == ClaimName.OrganisationName).Value</h3>
				</div>
				<div class="govuk-grid-row">
					<label class="govuk-label govuk-label--s">Claims</label>
				</div>
				<table class="govuk-table">
					<tr class="govuk-table__header">
						<th>Type</th>
						<th>Value</th>
					</tr>
					@foreach (var item in ((ClaimsIdentity)User.Identity).Claims)
					{
						<tr>
							<td class="govuk-table__cell">@item.Type</td>
							<td class="govuk-table__cell">@item.Value</td>
						</tr>
					}
				</table>
			</div>
		</div>
	</main>
</div>