@using SFA.DAS.AODP.Web.Areas.Admin.Controllers
@using SFA.DAS.AODP.Web.Models.OutputFile
@model OutputFileViewModel
@{
    ViewData["Title"] = "Download a record of all active and archived funding requests";
}

<a class="govuk-back-link" asp-action="Index" asp-controller="Home" asp-area="Review">Back</a>
<div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                @if (TempData[OutputFileController.OutputFileFailed] != null && (bool)TempData[OutputFileController.OutputFileFailed])
                {
                    var message = TempData[$"{OutputFileController.OutputFileFailed}:Message"]?.ToString() ?? "There was a problem generating the output file.";

                    <div class="govuk-error-summary" data-module="govuk-error-summary">
                        <div role="alert">
                            <h2 class="govuk-error-summary__title">
                                There is a problem
                            </h2>
                            <div class="govuk-error-summary__body">
                                <ul class="govuk-list govuk-error-summary__list">
                                    <li>@Html.Raw(message.Replace("\n", "<br/>"))</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
                <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
                    Download a record of all active and archived funding requests
                </h1>

                <p class="govuk-body">This will export two CSV files to your device.</p>
                <form asp-controller="OutputFile" asp-action="GetOutputFile" asp-area="Admin" method="get">
                    <button type="submit" class="govuk-button" data-module="govuk-button">
                        Download files
                    </button>
                </form>

                <h2 class="govuk-heading-l govuk-!-margin-top-7">
                    Download history
                </h2>

                @if (Model?.OutputFileLogs != null && Model.OutputFileLogs.Any())
                {
                    <dl class="govuk-summary-list">
                        @foreach (var log in Model.OutputFileLogs)
                        {
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">@log.UserDisplayName</dt>
                                <dd class="govuk-summary-list__value">@log.Timestamp?.ToString("d MMMM yyyy")</dd>
                            </div>
                        }
                    </dl>
                }
                else
                {
                    <p class="govuk-body">No logs to display.</p>
                }
            </div>
        </div>
    </main>
</div>
